<div class="row">
    <mat-card class="example-card col-md-3 space-top-20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                El Shiba Inu es el más pequeño de las seis razas de perros spitz originales y distintas de Japón. Un perro pequeño y ágil que se adapta muy bien al terreno montañoso, el Shiba Inu fue originalmente criado para cazar.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card col-md-3 offset-md-1 space-top-20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                El Shiba Inu es el más pequeño de las seis razas de perros spitz originales y distintas de Japón. Un perro pequeño y ágil que se adapta muy bien al terreno montañoso, el Shiba Inu fue originalmente criado para cazar.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card col-md-3 offset-md-1  space-top-20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                El Shiba Inu es el más pequeño de las seis razas de perros spitz originales y distintas de Japón. Un perro pequeño y ágil que se adapta muy bien al terreno montañoso, el Shiba Inu fue originalmente criado para cazar.
            </p>
        </mat-card-content>
    </mat-card>
</div>